<div class="container mt-2">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Users</h3>
    <a class="btn btn-secondary btn-sm" role="button" routerLink="create-new">✚</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Created</th>
        <th scope="col">Collections</th>
        <th scope="col">Admin</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td><a routerLink="/{{user.name}}">{{user.name}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.created / 1000000 | date:"yyyy.MM.dd HH:mm:ss"}}</td>
        <td class="text-right">
          <a routerLink="../collections">{{user.collection_count}}</a>
          <a role="button" class="btn btn-light btn-sm ml-2" routerLink="/{{user.name}}/create">✚</a>
        </td>
        <td>{{user.is_admin}}</td>
        <td><a [routerLink]="[user.name]">edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
