<div class="container mt-2">
  <div style="position: relative">
    <a href="https://github.com/soyersoyer/k20a">
      <img src="assets/forkme_right_gray_6d6d6d.png" style="position: absolute; top: 0rem; right: 0rem; border: 0;" alt="Fork me on GitHub">
    </a>
  </div>
  <div class="jumbotron">
    <h1 class="display-3">K20A</h1>
    <p class="lead">Carefree web analytics on your server!</p>
    <hr class="my-4">
    <div class="row my-2">
      <div class="col-sm-6">
        <ul>
          <li>Easy to install</li>
          <li>Easy to use</li>
          <li>Easy to upgrade (guaranteed after version 1.0)</li>
          <li>Space efficient, fast, embedded database</li>
          <li>Written in Go <img height="23" src="assets/golang.png"> and Angular <img height="23" src="assets/angular.png"></li>
          <li>Opensource, hosted on github <img height="23" src="assets/github.png"></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Visitor friendly</li>
          <li>You don't have to sell your visitor's data to a company</li>
          <li>Tracks sessions, not users</li>
        </ul>
      </div>
    </div>
  </div>
</div>
