<div class="container mt-2" *ngIf="user" style="max-width: 500px">
  <h3>Edit User</h3>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (submit)="update()">
        <div class="form-group">
          <label for="name">Username</label>
          <input id="name" type="text" class="form-control form-control-lg" formControlName="name">
          <div class="invalid-feedback">
            <rana-invalid-username></rana-invalid-username>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" class="form-control form-control-lg" formControlName="email">
          <div class="invalid-feedback">
            <rana-invalid-email></rana-invalid-email>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control form-control-lg" formControlName="password">
          <small class="form-text text-muted">Leave it empty to remain unchanged.</small>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="is_admin" formControlName="is_admin">
          <label class="form-check-label" for="is_admin">This account has administrator permissions</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="disable_pw_change" formControlName="disable_pw_change">
          <label class="form-check-label" for="disable_pw_change">Disable password change for this account</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="disable_user_deletion" formControlName="disable_user_deletion">
          <label class="form-check-label" for="disable_user_deletion">User can't delete this account</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="email_verified" formControlName="email_verified">
          <label class="form-check-label" for="email_verified">Email verified</label>
          <button type="button" *ngIf="!form.value.email_verified"class="btn btn-primary btn-sm ml-3" (click)="sendVerifyEmail(user)">Resend verify email</button>
        </div>
        <div class="form-group">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="limit_collections" formControlName="limit_collections">
            <label class="form-check-label" for="limit_collections">Limit Collection creation</label>
          </div>
          <div class="form-group" [hidden]="!form.value.limit_collections">
            <label for="collection_limit">Collection Limit</label>
            <input id="collection_limit" type="number" min="0" class="form-control form-control-lg" formControlName="collection_limit">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg w-100">Update</button>
      </form>
    </div>
  </div>
  <h3 class="my-2">Delete user</h3>
  <div class="card border-danger">
    <div class="card-body">
      <div class="alert alert-danger text-small" role="alert">
        The operation will delete this user and the owned collections permanently, and CANNOT be undone!
      </div>
      <button class="btn btn-danger btn-lg w-100" (click)="delete()">Delete user</button>
    </div>
  </div>
</div>
