<div class="container mt-2">
    <h3>Collections</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Owner</th>
          <th scope="col">Created</th>
          <th scope="col">Teammate count</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of collections">
          <th scope="row">{{c.id}}</th>
          <td><a routerLink="/{{c.owner_name}}/{{c.name}}">{{c.name}}</a></td>
          <td><a routerLink="/{{c.owner_name}}">{{c.owner_name}}</a></td>
          <td>{{c.created / 1000000 | date:"yyyy.MM.dd HH:mm:ss"}}</td>
          <td>{{c.teammate_count}}</td>
          <td><a [routerLink]="[c.id, 'edit']">edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  