<div class="container mt-2">
  <div class="d-flex justify-content-center">
    <div style="max-width: 500px">
      <h1>Login</h1>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" mark-as-touched (submit)="login()">
            <div class="form-group">
              <label for="name_or_email">Username or email address</label>
              <input id="name_or_email" type="text" class="form-control form-control-lg" formControlName="name_or_email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-control form-control-lg" formControlName="password">
              <div class="invalid-feedback">
                <rana-invalid-password></rana-invalid-password>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
          </form>
        </div>
      </div>
      <div *ngIf="config?.enable_registration">
        Don't have an account? <a routerLink="/registration">Create one</a>
      </div>
      <div>
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>
    </div>
  </div>
</div>
