<div class="container mt-2">
  <div class="d-flex justify-content-center">
    <div style="max-width: 500px">
      <h1>Forgot password</h1>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" mark-as-touched (submit)="send()">
            <div class="form-group">
              <label for="email">Email address</label>
              <input id="email" type="email" class="form-control form-control-lg" formControlName="email">
              <div class="invalid-feedback">
                  <rana-invalid-email></rana-invalid-email>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Send password reset email</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
