<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="mt-2">
        <h2>Settings</h2>
        <div class="list-group">
          <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="profile">Profile</a>
          <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="change-password">Change password</a>
          <a class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="delete-account">Delete account</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
