<div class="container mt-2">
  <div class="d-flex justify-content-center">
    <div style="max-width: 500px">
      <h1>Registration</h1>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (submit)="registrate()">
            <div class="form-group">
              <label for="email">Email address</label>
              <input id="email" type="email" class="form-control form-control-lg" formControlName="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-control form-control-lg" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Create an account</button>
          </form>
        </div>
      </div>
      <p>
        Already have an account? <a routerLink="/login"> Login</a>
      </p>
    </div>
  </div>
</div>
