<div class="mt-2 container" *ngIf="collection">
  <div>
    <div>
      <h3><a routerLink="..">{{user}}</a> / <a routerLink="."><b>{{collection.name}}</b></a></h3>
    </div>
    <ul class="nav nav-tabs mt-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="statistics" routerLinkActive="active">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sessions" routerLinkActive="active">Sessions</a>
      </li>
      <li class="nav-item">
        <a *ngIf="collection.owner_name == auth.user || auth.is_admin" class="nav-link" routerLink="settings" routerLinkActive="active">Settings</a>
      </li>
    </ul>
  </div>
  <div *ngIf="showChart()">
    <div class="d-flex align-items-center flex-wrap justify-content-end">
      <div stlye="height:27px">
        <a *ngFor="let key of keys(setup.filter)" href="" class="badge badge-pill badge-secondary m-1" (click)="setup.del(key); false">
          {{setup.filter[key]}}
          <b>x</b>
        </a>
      </div>
      <div class="btn-group btn-group-sm my-1" role="group">
        <button *ngFor="let interval of intervals" type="button" class="btn btn-secondary" [class.active]="interval === selectedInterval" [disabled]="interval.day < selectedBucket.minInterval?.day" (click)="selectInterval(interval)">{{interval.label}}</button>
      </div>
      <div class="btn-group btn-group-sm my-1 ml-1" role="group">
        <button *ngFor="let bucket of buckets" type="button" class="btn btn-secondary" [class.active]="bucket === selectedBucket" (click)="selectBucket(bucket)">{{bucket.label}}</button>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="display-4 text-muted mb-5" role="button" (click)="prev()" style="cursor: pointer">&lsaquo;</div>
      <rana-chart style="height: 300px; width: calc(100% - 38px)" type="bar" [data]="data" [options]="options"></rana-chart>
      <div class="display-4 text-muted mb-5" role="button" (click)="next()" style="cursor: pointer">&rsaquo;</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
